body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/apibackground.jpg);
    background-size: cover;
}

header {
    margin: 40px;
}

header img {
    position: absolute;
    margin: 25px;
    width: 100px;
}

nav {
    text-align: center;
    margin: 20px 30px 20px 10px;
    padding: 10px;
}

nav ul li {
    text-align: center;
    list-style: none;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    position: relative;
}

nav ul li a{
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    margin: 5px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #e30000;
}

.database-section {
    border-radius: 10px;
    margin: 30px 100px;
    padding: 20px 20px;
    background-color: rgba(7, 7, 7, 0.63);
}

.campus{
    width: 80%;
    margin: 20px 20px 40px 150px;
    text-align: center;
    padding-top: 50px;
    display: inline-block;
}

.campus h1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 48px;
    padding: 30px 10px 30px 10px;
    transition: 0.25s;
    border-radius: 1px;
}

.campus-col{
    flex-basis: 32%;
    width: 25%;
    border-radius: 10px;
    margin: 30px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.35s;
}
.layer:hover{
    background: rgba(134, 0, 67, 0.6);
}
.layer h3{
    width: 100%;
    font-weight: 800;
    color: #fff;
    font-size: 20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.4s;
}
.layer:hover h3{
    bottom: 50%;
    opacity: 1;
}



