body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/apibackground.jpg);
    background-size: cover;
}

header {
    margin: 40px;
}

header img {
    position: absolute;
    margin: 25px;
    width: 100px;
}

nav {
    text-align: center;
    margin: 20px 30px 20px 10px;
    padding: 10px;
}

nav ul li {
    text-align: center;
    list-style: none;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    position: relative;
}

nav ul li a{
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    margin: 5px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #e30000;
}

.database-section {
    border-radius: 10px;
    margin: 30px 30px;
    padding: 20px 20px;
    background-color: rgba(7, 7, 7, 0.63);
}

.driver-content {
    text-align: center;
    position: absolute;
    padding: 30px 100px;
}

.driver-content h2 {
    color: #ffffff;
    font-size: 46px;
    font-weight: bold;
}

form {
    height: auto;
    text-align: center;

}